
<!-- import Highcharts + Chartkick libraries -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js"></script>

<!-- Wakatime Dashboard -->
<div class="view view--full">
  <div class="layout layout--col gap--space-between">

  {% comment %} {{ trmnl.plugin_settings.custom_fields_values.dashboard_metrics }} {% endcomment %}

    {% render 'dashboard_horizontal' 
        selected_metrics: trmnl.plugin_settings.custom_fields_values.dashboard_metrics | default: ["today", "this_week", "this_month", "last_year"],
        valueFit: false,
        data: data,
        metric_limit: 10
    %}


    <!-- Chart Container -->
    {% assign selected_layout = trmnl.plugin_settings.custom_fields_values.layout | default: 'lines' | downcase %}
    {% if selected_layout == 'contributions' %}
      <!-- GitHub-style Contributions Grid -->
      {% render 'contributions_grid', data: data %}
    {% else %}
      {% render 'wakatime_charts', 
        data: data,
        selected_timeframe: trmnl.plugin_settings.custom_fields_values.timeframe,
        selected_layout: trmnl.plugin_settings.custom_fields_values.layout,
        enable_grouping: trmnl.plugin_settings.custom_fields_values.enable_grouping,
        chart_height: 260,
        show_x_axis_labels: 'true',
        date_format: trmnl.plugin_settings.custom_fields_values.date_format | default: '%d.%m'
       %}
        {% comment %} show_x_axis_labels: trmnl.plugin_settings.custom_fields_values.show_x_axis_labels {% endcomment %}
    {% endif %}
  </div>

  {% if trmnl.plugin_settings.custom_fields_values.show_title_bar == 'true' %}
    {% render 'wakatime_title_bar' %}
  {% endif %}
</div>
