<!-- WakaTime Half Horizontal Layout -->
<div class="view view--half-horizontal">
  <div class="layout layout--col gap--space-between">
    
    {% render 'dashboard_horizontal' 
        selected_metrics: trmnl.plugin_settings.custom_fields_values.dashboard_metrics,
        valueFit: false,
        data: data
    %}
    <!-- Chart Container -->
    {% assign selected_layout = trmnl.plugin_settings.custom_fields_values.layout | default: 'lines' | downcase %}
    {% if selected_layout == 'contributions' %}
      {% render 'contributions_grid', data: data %}
    {% else %}
      {% render 'wakatime_charts', 
        data: data,
        selected_timeframe: trmnl.plugin_settings.custom_fields_values.timeframe,
        selected_layout: trmnl.plugin_settings.custom_fields_values.layout,
        enable_grouping: trmnl.plugin_settings.custom_fields_values.enable_grouping,
        chart_height: 140,
        show_x_axis_labels: 'false',
       %}
    {% endif %}
        {% comment %} show_x_axis_labels: trmnl.plugin_settings.custom_fields_values.show_x_axis_labels {% endcomment %}
  </div>

  {% render 'wakatime_title_bar' %}
</div>
