<!-- WakaTime Half Horizontal Layout -->
  <div class="layout layout--col gap--space-between">
    
    {% comment %} {% render 'dashboard_horizontal' 
        selected_metrics: trmnl.plugin_settings.custom_fields_values.dashboard_metrics,
        valueFit: false,
        data: data,
        metric_limit: 6
    %} {% endcomment %}


    {% assign selected_layout = trmnl.plugin_settings.custom_fields_values.layout_half_horizontal | default: 'lines' | downcase %}
    {% if selected_layout == 'contributions' %}
      {% render 'contributions_grid', data: data, show_contributions_legend: trmnl.plugin_settings.custom_fields_values.show_contributions_legend %}
    {% else %}
      {% render 'wakatime_charts', 
        chart_height: 200,
        data: data,
        selected_timeframe: trmnl.plugin_settings.custom_fields_values.timeframe,
        selected_layout: selected_layout,
        enable_grouping: trmnl.plugin_settings.custom_fields_values.enable_grouping,
        show_x_axis_labels: trmnl.plugin_settings.custom_fields_values.show_x_axis_labels,
        show_y_axis_labels: trmnl.plugin_settings.custom_fields_values.show_y_axis_labels,
        date_format: trmnl.plugin_settings.custom_fields_values.date_format | default: '%d.%m'
       %}
    {% endif %}
        {% comment %} show_x_axis_labels: trmnl.plugin_settings.custom_fields_values.show_x_axis_labels {% endcomment %}
  </div>

  {% if trmnl.plugin_settings.custom_fields_values.show_title_bar == 'true' %}
    {% render 'wakatime_title_bar' %}
  {% endif %}
